In [32]:
import mysql.connector as connector
from mysql.connector import Error

In [33]:
connection = connector.connect (user = "root", password = "waqas111", db = "LittleLemonDB")

In [34]:
cursor = connection.cursor()

In [35]:
show_table_query = "SHOW Tables"
cursor.execute(show_table_query)

In [36]:
results = cursor.fetchall()
for result in results:
    print(result)

('bookings',)
('customers',)
('menuitems',)
('menus',)
('orders',)
('orders_delivery_status',)
('staff',)

In [37]:
join_query = """SELECT customers.Name, customers.ContactDetail, orders.TotalCost from customers INNER JOIN orders
ON customers.CustomerID = orders.CustomerID WHERE TotalCost > 60;"""

In [38]:
cursor.execute(join_query)